.list {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 310px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.num {
  color: grey;
  margin-left: 5px;
}
.text {
  margin-right: 20px;
}
.btn {
  border-radius: 12px;
  margin-top: 0.5em;
  padding: 0.25em 1em;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: white;
}
